## Question No1

In [5]:
emp_record = [
    {
        'emp_ID' : 1,
        'name' : "Danial",
        'Department' : "FInance"
    },
    {
        'emp_ID' : 2,
        'name' : "Uzair",
        'Department' : "Recovery"
    },
    {
        'emp_ID' : 3,
        'name' : "Farrukh",
        'Department' : "AMF"
    }
]
emp_record

[{'emp_ID': 1, 'name': 'Danial', 'Department': 'FInance'},
 {'emp_ID': 2, 'name': 'Uzair', 'Department': 'Recovery'},
 {'emp_ID': 3, 'name': 'Farrukh', 'Department': 'AMF'}]

## Question No 2

In [9]:
inv_sys = [
    {
        'inv_ID' : 1,
        'description' : "Biscuits",
        'quantity' : 150
    },
    {
        'inv_ID' : 2,
        'description' : "Snacks",
        'quantity' : 500
    },
    {
        'inv_ID' : 3,
        'description' : "Sweets",
        'quantity' : 650
    }
]
inv_sys

[{'inv_ID': 1, 'description': 'Biscuits', 'quantity': 150},
 {'inv_ID': 2, 'description': 'Snacks', 'quantity': 500},
 {'inv_ID': 3, 'description': 'Sweets', 'quantity': 650}]

## Question No 3

In [132]:
from datetime import datetime, date, time

meeting = [
    {
        'date' : print("Meeting is schedule on:",date(2024,8,19)),
        'time' : print("At time of:",time(15,30))
    }
]
meeting

Meeting is schedule on: 2024-08-19
At time of: 15:30:00

[{'date': None, 'time': None}]

## Question No 4

In [144]:
emp_detail = [
    {
    "HR_1": {
        101: ("Alice Smith", "Senior HR Manager"),
        102: ("Bob Johnson", "HR Specialist")
    },
    "Finance_2": {
        201: ("Carol Williams", "Financial Analyst"),
        202: ("David Brown", "Accountant")
    }
}
]
emp_detail

[{'HR_1': {101: ('Alice Smith', 'Senior HR Manager'),
   102: ('Bob Johnson', 'HR Specialist')},
  'Finance_2': {201: ('Carol Williams', 'Financial Analyst'),
   202: ('David Brown', 'Accountant')}}]

## Question No 5

In [152]:
students = [
    {
        "ID": 1,
        "Name": "Anees",
        "Scores": {
            "Math": 85,
            "English": 92,
            "Science": 88
        }
    },
    {
        "ID": 2,
        "Name": "Iftikhar",
        "Scores": {
            "Math": 78,
            "English": 81,
            "Science": 89
        }
    }
]
students

[{'ID': 1,
  'Name': 'Anees',
  'Scores': {'Math': 85, 'English': 92, 'Science': 88}},
 {'ID': 2,
  'Name': 'Iftikhar',
  'Scores': {'Math': 78, 'English': 81, 'Science': 89}}]

## Question No 6

In [164]:
projects = {
    "Project 1": [
        "Task A: Requirements",
        "Task B: Develop prototype",
        "Task C: Test prototype"
    ],
    "Project 2": [
        "Task 1: Market research",
        "Task 2: Design product",
        "Task 3: Launch campaign"
    ]
}
projects["Project 1"][0]

'Task A: Requirements'

## Question No 7

In [169]:
courses = {
    "Python Programming": {
        "Introduction": "Python Basic Syntax and Data Types",
        "Python Data Structures": "list, set, tuples, and dictionary.",
    },
    "Web Development": {
        "HTML": "Standard markup language for creating Web pages",
        "CSS": "Style to a web page by dictating how a site is displayed on a browser.",
        "JavaScript": "Client-side scripting, dynamic and interactive web page to interact with visitors and execute complex actions."
    }
}
courses["Python Programming"]

{'Introduction': 'Python Basic Syntax and Data Types',
 'Python Data Structures': 'list, set, tuples, and dictionary.'}

## Question No 8

In [178]:
products = [
    ("Laptop", 150000),
    ("Smartphone", 50000),
    ("Headphones", 1500),
    ("Keyboard", 950),
    ("Mouse", 350)
]
products[0]

('Laptop', 150000)